/.DS_Store
/.venv
/.vscode
/JAY PEAK - VERMONT USA.pdf
/JAY PEAK - VERMONT USA.png
/create_map.py
/create_png.py
/data
/font_comparison.png
/font_comparison_humanist.png
/jay_peak_map_matplotlib.png
/jay_peak_region.tif
/jay_peak_region_5.tif
/jay_peak_region_6.tif
/jay_peak_region_8.tif
/map_png.ipynb
/output_8.png
/output_8_2.png
/output_VF.png
/outputv3.png
/outputv4.png
